# Configurações do Servidor
PORT=3000

# AWS SQS Configuration
AWS_REGION=us-east-1

# Para desenvolvimento local gratuito com LocalStack:
# Descomente e aponte para o LocalStack (porta 4566)
AWS_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# URLs das Filas FIFO do SQS
# Cada membro do grupo configura seu par exclusivo de filas:
SQS_ACTIONS_QUEUE_URL=http://localhost:4566/000000000000/bomberman-actions.fifo
SQS_EVENTS_QUEUE_URL=http://localhost:4566/000000000000/bomberman-events.fifo

# Na AWS Real em Produção (ECS Fargate):
# Comente AWS_ENDPOINT e preencha as credenciais e URLs reais da AWS:
# AWS_ACCESS_KEY_ID=AKIA...
# AWS_SECRET_ACCESS_KEY=...
# SQS_ACTIONS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/bomberman-actions.fifo
# SQS_EVENTS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/bomberman-events.fifo

# Identificação para atender aos prints da avaliação:
# Formato exigido: NOME_DO_JOGO-SEU_NOME.DOMÍNIO_DO_ECS
APP_PUBLIC_NAME=BOMBERMAN-ENTHONY.ECS-ALB.COM
GROUP_MEMBERS=ENTHONY ARAUJO, DOUGLAS PATRICK, GUILHERME SILVA, GUILHERME GABRIEL
